body
  font-family: 'Montserrat', sans-serif

a
  color: #ffffff
  text-decoration: none

.leaflet-bottom
  &.leaflet-right
    display: none
.leaflet-top
  &.leaflet-left
    display: none

.container
  max-width: 1200px
  margin: 0 auto
  padding: 0 10px

.q-tab
  &:hover
    background: #1d1d1d
.q-menu
  border-radius: 0

.page
  &-wrapper
    display: grid
    grid-template-columns: 4fr 2fr
    grid-gap: 20px

@media (max-width: 850px)
  .page
    &-wrapper
      grid-template-columns: 1fr

